<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link rel="stylesheet" href="/static/font/css/material-design-iconic-font.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/bootstrap-datepicker.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.min.css" type='text/css'>
    <script src="/static/js/jquery-3.2.0.min.js"></script>
</head>
<body>
<div>dsflisdhsjjsdhgk</div>
<a type="button" onclick="myclick(this);">click1</a>
<a type="button" onclick="myclick(this);">click2</a>
<a type="button" onclick="myclick(this);">click3</a>
<h1 style="display: none" id="title">标题</h1>

<script>
    function myclick(self) {
        $(self).addClass("111");
        location.href="/test/"
        $('#title').css('display','');
    }
</script>
</body>
</html>